## Bullish on Broadway:  Top Revenue, Attendance, Ticket Per Year

In [117]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from datetime import datetime

In [118]:
df = pd.read_csv('ibdb_1.csv')

In [119]:
df.shape

(18017, 18)

In [120]:
def fill_nulls(data):
    data['GrossChange'] = data['GrossChange'].fillna(0)
    data['AttChange'] = data['AttChange'].fillna(0)
    data['TopTicket'] = data['TopTicket'].fillna(data['AvgTicket'])
    return data

df = fill_nulls(df)

#### Shows Index

In [121]:
shows = df.iloc[:, 0:2 ]

In [122]:
shows.drop_duplicates(keep='first', inplace=True)

In [123]:
shows.shape

(471, 2)

## Top Grossing Shows

In [125]:
yearly = shows.sort_values(by='ID')

In [127]:
for year in range(2006, 2018):
    Gross = []
    for i in range (1, 472):
        x = df.loc[df['ID'] == i, :]
        y = x.loc[x['Year']== year,:]
        z = sum(y['Gross'])
        Gross.append(z)

    yearly['{}Gross'.format(year)] = Gross

In [128]:
for year in range(2006, 2018):
    year_max = yearly['{}Gross'.format(year)].max()
    x = yearly.loc[yearly['{}Gross'.format(year)] == year_max, :]
    print(year, ' ', x.Show.values)

2006   ['Wicked ']
2007   ['Wicked ']
2008   ['Wicked ']
2009   ['Wicked ']
2010   ['Wicked ']
2011   ['Wicked ']
2012   ['Wicked ']
2013   ['The Lion King ']
2014   ['The Lion King ']
2015   ['The Lion King ']
2016   ['Hamilton ']
2017   ['Hamilton ']

## Top Attendance

In [129]:
yearly_att = shows.sort_values(by='ID')

In [130]:
for year in range(2006, 2018):
    Att = []
    for i in range (1, 472):
        x = df.loc[df['ID'] == i, :]
        y = x.loc[x['Year']== year,:]
        z = sum(y['Attendance'])
        Att.append(z)

    yearly_att['{}Att'.format(year)] = Att

In [131]:
for year in range(2006, 2018):
    year_max = yearly_att['{}Att'.format(year)].max()
    x = yearly_att.loc[yearly_att['{}Att'.format(year)] == year_max, :]
    print(year, ' ', x.Show.values)

2006   ['Wicked ']
2007   ['Wicked ']
2008   ['Wicked ']
2009   ['Wicked ']
2010   ['Wicked ']
2011   ['Wicked ']
2012   ['Wicked ']
2013   ['Wicked ']
2014   ['Wicked ']
2015   ['Wicked ']
2016   ['Wicked ']
2017   ['Wicked ']

## Most Paid For Ticket Record

In [132]:
yearly_tix = shows.sort_values(by='ID')

In [133]:
for year in range(2006, 2018):
    Tix = []
    for i in range (1, 472):
        x = df.loc[df['ID'] == i, :]
        y = x.loc[x['Year']== year,:]
        z = sum(y['AvgTicket'])
        b = y.shape[0]
        if b != 0:
            q= z/b
        else:
            q = 0
        Tix.append(q)

    yearly_tix['{}Tix'.format(year)] = Tix

In [134]:
for year in range(2006, 2018):
    year_max = yearly_tix['{}Tix'.format(year)].max()
    x = yearly_tix.loc[yearly_tix['{}Tix'.format(year)] == year_max, :]
    print(year, ' ', x.Show.values, year_max)

2006   ['Three Days of Rain '] 111.325
2007   ['Jersey Boys '] 122.988
2008   ['Jersey Boys '] 115.932692308
2009   ['A Steady Rain '] 139.053846154
2010   ['The Merchant of Venice '] 130.85
2011   ['Elf - The Musical '] 140.8
2012   ['The Book of Mormon '] 182.222641509
2013   ['The Book of Mormon '] 197.673076923
2014   ['The Book of Mormon '] 189.55
2015   ['The Book of Mormon '] 173.294230769
2016   ['Hamilton '] 186.363461538
2017   ['Hamilton '] 274.083673469

## Top Average Ticket

In [135]:
yearly_tix = shows.sort_values(by='ID')

In [136]:
for year in range(2006, 2018):
    Tix = []
    for i in range (1, 472):
        x = df.loc[df['ID'] == i, :]
        y = x.loc[x['Year']== year,:]
        z = sum(y['TopTicket'])
        b = y.shape[0]
        if b != 0:
            q= z/b
        else:
            q = 0
        Tix.append(q)

    yearly_tix['{}Tix'.format(year)] = Tix

In [137]:
for year in range(2006, 2018):
    year_max = yearly_tix['{}Tix'.format(year)].max()
    x = yearly_tix.loc[yearly_tix['{}Tix'.format(year)] == year_max, :]
    print(year, ' ', x.Show.values, year_max)

2006   ['Doubt '] 301.3
2007   ['Jersey Boys '] 337.472
2008   ['Jersey Boys '] 350.663461538
2009   ['A Steady Rain '] 375.0
2010   ['Fences '] 355.769230769
2011   ['The Book of Mormon '] 394.727272727
2012   ['The Book of Mormon '] 477.0
2013   ['The Book of Mormon '] 477.0
2014   ['The Book of Mormon '] 471.240384615
2015   ['The Book of Mormon '] 476.115384615
2016   ['Hamilton '] 507.288461538
2017   ['Hamilton '] 827.551020408